.panel-footer {
  img {
    display: block;
   max-width: 100%;
  }
}

.capitalize {
  text-transform: capitalize;
}

.images {
  img {
    display: block;
    margin-bottom: 5px;;
    max-width: 100%
  }
}
