<!DOCTYPE html>
<html>
<head>
  <title>SurfReport</title>

  <link type="text/css" rel="stylesheet" media="all" href="http://localhost:8080/css/app.0.0.11.css" />

  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <script src="http://localhost:8080/js/app.0.0.11.js"></script>
</body>
</html>
